<app-nav-info></app-nav-info>

<div>
    <div class="banner">
        <img src="assets/imagen/banner/us.png" class="img-fluid" alt="">
    </div>
    <div class="socio">
        <div class="section">
            <h3 class="page-title">Gracias por estar interesado en ser parte de xxxxx</h3>
            <h5>En qué consiste ser anfitrión</h5>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero consequatur enim voluptas beatae rem obcaecati illum laboriosam veniam? Exercitationem, distinctio! Esse consectetur iste veritatis, ducimus illo harum? Quod, quisquam asperiores.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius dolorem, qui odit quod veritatis voluptatibus architecto nostrum amet accusamus voluptates ex, laboriosam distinctio laudantium animi tenetur esse cupiditate repellat itaque!</p>
        </div>
        <div class="row section">
            <div class="col-sm-6  col-md-6">
                <h5>Cuales son los beneficios que obtienes al formar parte de nuestro equipo</h5>
            </div>
            <div class="col-sm-6  col-md-6">
                <ul>
                    <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus corporis tempora minima eos a dolorem dignissimos, numquam, amet repudiandae repellendus, quod tenetur. Quidem consequuntur alias id, cum earum repellat iusto!</li>
                    <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus corporis tempora minima eos a dolorem dignissimos, numquam, amet repudiandae repellendus, quod tenetur. Quidem consequuntur alias id, cum earum repellat iusto!</li>
                    <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus corporis tempora minima eos a dolorem dignissimos, numquam, amet repudiandae repellendus, quod tenetur. Quidem consequuntur alias id, cum earum repellat iusto!</li>
                    <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus corporis tempora minima eos a dolorem dignissimos, numquam, amet repudiandae repellendus, quod tenetur. Quidem consequuntur alias id, cum earum repellat iusto!</li>
                    <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus corporis tempora minima eos a dolorem dignissimos, numquam, amet repudiandae repellendus, quod tenetur. Quidem consequuntur alias id, cum earum repellat iusto!</li>
                </ul>
            </div>
        </div>
        <div class="section">
            <h5>Politicas para Socios</h5>
            <div class="alert alert-dark" role="alert">
                Si tu país de residencia o establecimiento se encuentra en el Espacio Económico Europeo (EEE), Suiza o el Reino Unido, se te aplicarán los Términos de servicio para usuarios europeos. Si tu país de residencia o establecimiento se encuentra fuera del EEE,
                Suiza y el Reino Unido, se te aplicarán los Términos de servicio para usuarios no europeos.

            </div>
            <div>
                <h5>5.3 Independencia de los Anfitriones.</h5>
                <p>La relación de usted con Airbnb es la de una persona o entidad independiente y no la de un empleado, agente, empresa conjunta o socio de Airbnb, excepto que Airbnb Pagos actúa como agente de cobro de pagos como se describe en los Términos
                    de Pago. Airbnb no dirige ni controla su Servicio del Anfitrión y usted acepta que tiene total discreción sobre cómo y cuándo prestar los Servicios del Anfitrión y a qué precio y en qué condiciones ofrecerlos.</p>
            </div>
            <div>
                <h5>6. Administración de su Anuncio</h5>
                <p><b> 6.1 Creación y Administración de su Anuncio. </b>La Plataforma Airbnb ofrece herramientas que le ayudarán a configurar y administrar un Anuncio. Su Anuncio debe incluir información completa y precisa sobre su Servicio del Anfitrión,
                    su precio, otros cargos como gastos de limpieza, tarifas del resort, depósitos de seguridad, tarifas fuera de línea y cualquier norma o requisito aplicable a sus Huéspedes o a su Anuncio. Usted es responsable de mantener la información
                    de su Anuncio (incluida la disponibilidad del calendario) y el contenido (como las fotos) actualizados y precisos en todo momento. Le recomendamos que obtenga un seguro adecuado para sus Servicios del Anfitrión y le sugerimos que revise
                    cuidadosamente los términos y condiciones de la póliza, incluidos los detalles de la cobertura y las exclusiones. Usted puede mantener solo un Anuncio por alojamiento, sin embargo, podría tener varios Anuncios para una sola propiedad
                    si esta tiene varios alojamientos.
                </p>
            </div>
        </div>
        <div class="row section">
            <div class="col-sm-12 col-md-6">
                <div class="contacto">
                    <h2>Obtén más información y conéctate con anfitriones expertos</h2>
                    <p>Vamos a enviarte más información sobre la actividad de los anfitriones y te daremos acceso a seminarios web en vivo donde podrás hacer preguntas a los miembros más expertos de la comunidad.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="formulario">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control mb-3" id="" placeholder="Nombre completo">
                            <input type="email" class="form-control mb-3" id="" placeholder="Correo">

                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox">
                                <label class="form-check-label">
                                    Quiero recibir consejos ocasionales y entiendo que puedo cancelar la suscripción en cualquier momento.
                                </label>
                            </div>
                            <button>Registrame</button>
                            <p>Al seleccionar “Regístrate”, estoy de acuerdo que Airbnb procesará mis datos personales de acuerdo con la <a href="">Política de privacidad de Airbnb</a></p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>