<!-- carousel-->
<div class="rooms-owl recomendar">
    <h1>Habitaciones recomendadas</h1>
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div>
                <div class="room-img">
                    <img src="../../../assets/imagen/habitaciones/3.jpg" class="img-fluid" alt="img">
                </div>
                <div class="description-box">
                    <ul class="caracteristica-habitacion">

                        <li>
                            <p class="badge bg-warning text-wrap">
                                <fa-icon [icon]="faTv"></fa-icon>
                                <small> Tv </small>
                            </p>
                        </li>
                        <li>
                            <p class="badge bg-success text-wrap">
                                <fa-icon [icon]="faBed"></fa-icon>
                                <small> 2 </small>
                            </p>
                        </li>
                        <li>
                            <p class="badge bg-danger text-wrap">
                                <fa-icon [icon]="faBath"></fa-icon>
                                <small> Baño </small>

                            </p>
                        </li>
                        <li>
                            <p class="price-room badge bg-info text-wrap">
                                <small> $200 / noche</small>
                            </p>
                        </li>
                    </ul>
                    <p class="title-room mt-1">Hotel buena vida</p>
                    <p class="desc-room">San jose centro zzz</p>

                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div>
                <div class="room-img">
                    <img src="../../../assets/imagen/habitaciones/3.jpg" class="img-fluid" alt="img">
                </div>
                <div class="description-box">
                    <ul class="caracteristica-habitacion">

                        <li>
                            <p class="badge bg-warning text-wrap">
                                <fa-icon [icon]="faTv"></fa-icon>
                                <small> Tv </small>
                            </p>
                        </li>
                        <li>
                            <p class="badge bg-success text-wrap">
                                <fa-icon [icon]="faBed"></fa-icon>
                                <small> 2 </small>
                            </p>
                        </li>
                        <li>
                            <p class="badge bg-danger text-wrap">
                                <fa-icon [icon]="faBath"></fa-icon>
                                <small> Baño </small>

                            </p>
                        </li>
                        <li>
                            <p class="price-room badge bg-info text-wrap">
                                <small> $200 / noche</small>
                            </p>
                        </li>
                    </ul>
                    <p class="title-room mt-2">Hotel buena vida</p>
                    <p class="desc-room">San jose centro</p>

                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div>
                <div class="room-img">
                    <img src="../../../assets/imagen/habitaciones/3.jpg" class="img-fluid" alt="img">
                </div>
                <div class="description-box">
                    <ul class="caracteristica-habitacion">

                        <li>
                            <p class="badge bg-warning text-wrap">
                                <fa-icon [icon]="faTv"></fa-icon>
                                <small> Tv </small>
                            </p>
                        </li>
                        <li>
                            <p class="badge bg-success text-wrap">
                                <fa-icon [icon]="faBed"></fa-icon>
                                <small> 2 </small>
                            </p>
                        </li>
                        <li>
                            <p class="badge bg-danger text-wrap">
                                <fa-icon [icon]="faBath"></fa-icon>
                                <small> Baño </small>

                            </p>
                        </li>
                        <li>
                            <p class="price-room badge bg-info text-wrap">
                                <small> $200 / noche</small>
                            </p>
                        </li>
                    </ul>
                    <p class="title-room mt-2">Hotel buena vida</p>
                    <p class="desc-room">San jose centro</p>

                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div>
                <div class="room-img">
                    <img src="../../../assets/imagen/habitaciones/3.jpg" class="img-fluid" alt="img">
                </div>
                <div class="description-box">
                    <ul class="caracteristica-habitacion">

                        <li>
                            <p class="badge bg-warning text-wrap">
                                <fa-icon [icon]="faTv"></fa-icon>
                                <small> Tv </small>
                            </p>
                        </li>
                        <li>
                            <p class="badge bg-success text-wrap">
                                <fa-icon [icon]="faBed"></fa-icon>
                                <small> 2 </small>
                            </p>
                        </li>
                        <li>
                            <p class="badge bg-danger text-wrap">
                                <fa-icon [icon]="faBath"></fa-icon>
                                <small> Baño </small>

                            </p>
                        </li>
                        <li>
                            <p class="price-room badge bg-info text-wrap">
                                <small> $200 / noche</small>
                            </p>
                        </li>
                    </ul>
                    <p class="title-room mt-2">Hotel buena vida</p>
                    <p class="desc-room">San jose centro</p>

                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div>
                <div class="room-img">
                    <img src="../../../assets/imagen/habitaciones/3.jpg" class="img-fluid" alt="img">
                </div>
                <div class="description-box">
                    <ul class="caracteristica-habitacion">

                        <li>
                            <p class="badge bg-warning text-wrap">
                                <fa-icon [icon]="faTv"></fa-icon>
                                <small> Tv </small>
                            </p>
                        </li>
                        <li>
                            <p class="badge bg-success text-wrap">
                                <fa-icon [icon]="faBed"></fa-icon>
                                <small> 2 </small>
                            </p>
                        </li>
                        <li>
                            <p class="badge bg-danger text-wrap">
                                <fa-icon [icon]="faBath"></fa-icon>
                                <small> Baño </small>

                            </p>
                        </li>
                        <li>
                            <p class="price-room badge bg-info text-wrap">
                                <small> $200 / noche</small>
                            </p>
                        </li>
                    </ul>
                    <p class="title-room mt-2">Hotel buena vida</p>
                    <p class="desc-room">San jose centro</p>

                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div>
                <div class="room-img">
                    <img src="../../../assets/imagen/habitaciones/3.jpg" class="img-fluid" alt="img">
                </div>
                <div class="description-box">
                    <ul class="caracteristica-habitacion">

                        <li>
                            <p class="badge bg-warning text-wrap">
                                <fa-icon [icon]="faTv"></fa-icon>
                                <small> Tv </small>
                            </p>
                        </li>
                        <li>
                            <p class="badge bg-success text-wrap">
                                <fa-icon [icon]="faBed"></fa-icon>
                                <small> 2 </small>
                            </p>
                        </li>
                        <li>
                            <p class="badge bg-danger text-wrap">
                                <fa-icon [icon]="faBath"></fa-icon>
                                <small> Baño </small>

                            </p>
                        </li>
                        <li>
                            <p class="price-room badge bg-info text-wrap">
                                <small> $200 / noche</small>
                            </p>
                        </li>
                    </ul>
                    <p class="title-room mt-2">Hotel buena vida</p>
                    <p class="desc-room">San jose centro</p>

                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>