<app-navbar class="mmm">
</app-navbar>

<app-search></app-search>


<div class="rooms-list">
    <div class="row">
        <div class="">

            <div class="listado">
                <div class="header-list mb-4">
                    <h2>Herradura Costa Rica </h2><small>A 61 km de Escazú</small>
                </div>
                <div class="rooms">
                    <h3>Las mejores ofertas en hoteles y otros alojamientos</h3>
                    <!-- #region app-rooms-carousel -->
                    <div class="carousel">
                        <app-rooms-carousel>
                        </app-rooms-carousel>
                    </div>
                    <!-- #endregion carousel-->
                </div>
            </div>
            <div class="btn-listado2">
                <button type="button" class="btn-listado btn btn-outline-dark">Ver más alojamientos</button>
            </div>

            <div class="listado">
                <div class="header-list mb-4">
                    <h2>Guápiles Costa Rica </h2><small>
                        A 50 km de Escazú</small>
                </div>
                <div class="rooms">
                    <h3>Las mejores ofertas en hoteles y otros alojamientos</h3>
                    <!-- #region app-rooms-carousel -->
                    <div class="carousel">
                        <app-rooms-carousel>
                        </app-rooms-carousel>
                    </div>
                    <!-- #endregion carousel-->
                </div>
            </div>
            <div class="btn-listado2">
                <button type="button" class="btn-listado btn btn-outline-dark">Ver más alojamientos</button>
            </div>


        </div>
    </div>
</div>


<app-mobile-filter></app-mobile-filter>

<app-footer></app-footer>