<app-navbar class="mmm">
</app-navbar>

<app-search></app-search>

<div class="rooms">
    <div class="row">

        <div class="filter-box filter-desktop">
            <div class="filtro">
                <div class="filtro-header">
                    <h3>Filtros</h3>
                </div>
                <div class="category">
                    <p>Tipo de alojamiento</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                      Default radio
                    </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                      Default checked radio
                    </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                        <label class="form-check-label" for="flexRadioDefault2">
                      Default checked radio
                    </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                      Default checked radio
                    </label>
                    </div>
                </div>
                <div class="service">
                    <p>Servicios e instalacion</p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="danger-outlined">
                        <label class="form-check-label" for="flexCheckDefault">
                      Cama queen
                    </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                      Aire acondicionado
                    </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                      Restaurante
                    </label>
                    </div>
                </div>
                <div class="category">
                    <p>Características de reserva</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault11">
                        <label class="form-check-label" for="flexRadioDefault11">
                      Pagar a llegar
                    </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault12" checked>
                        <label class="form-check-label" for="flexRadioDefault12">
                      Pagar en pagina
                    </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="rooms-box">
            <!-- navbar -->
            <div class="d-flex justify-content-between">
                <h4>Hoteles en (ubucacion), (12)</h4>
                <div class="form-check form-switch">
                    <label class="form-check-label" for="flexSwitchCheckChecked">Ver en mapa</label>
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">
                </div>
                <div>
                    <label class="m-2">Ordenar por </label>
                    <select class="" aria-label="select">
                       <option selected>----</option>
                       <option value="1">Precio de Menor a Mayor</option>
                       <option value="2">Precio de Mayor a Menor</option>
                       <option value="3">Huespedes por habitación</option>
                  </select>
                </div>
            </div>
            <!-- end navbar -->

            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-6">
                        <div id="listImg" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">

                                <div class="carousel-item active">
                                    <img class="d-block img-fluid" src="../../../assets/imagen/habitaciones/ha1.jpeg" alt="">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block img-fluid" src="../../../assets/imagen/habitaciones/ha2.jpg" alt="">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block img-fluid" src="../../../assets/imagen/habitaciones/ha3.jpeg" alt="">
                                </div>
                                <a class="carousel-control-prev" href="#listImg" role="button" data-bs-slide="prev">

                                    <fa-icon class="direction-icon" [icon]="faCaretSquareLeft"></fa-icon>
                                </a>
                                <a class="carousel-control-next" href="#listImg" role="button" data-bs-slide="next">

                                    <fa-icon class="direction-icon" [icon]="faCaretSquareRight"></fa-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <div class="detalle">
                                <div class="detalle-header">
                                    <p class="title">Ubicacion del hotel</p>
                                    <p class="description">(acronimo) - Nombre del hotel</p>
                                </div>
                                <p class="badge bg-danger text-wrap">Amenidades</p>

                                <div class="detalle-body">
                                    <ul class="list-detalle-room">
                                        <li class="badge bg-primary text-wrap">
                                            <fa-icon [icon]="faWifi"></fa-icon>
                                            Wi-Fi</li>
                                        <li class="badge bg-primary text-wrap">Tv con cable</li>
                                        <li class="badge bg-primary text-wrap">Escritorio</li>
                                        <li class="badge bg-primary text-wrap">Armario</li>
                                        <li class="badge bg-primary text-wrap">Baño</li>
                                        <li class="badge bg-primary text-wrap">Wi-Fi</li>
                                        <li class="badge bg-primary text-wrap">Tv con cable dd f</li>
                                        <li class="badge bg-primary text-wrap">Escritorio</li>
                                        <li class="badge bg-primary text-wrap">Armario</li>
                                        <li class="badge bg-primary text-wrap">Baño</li>
                                    </ul>
                                    <p class="fw-bold">Máx. 4 personas | 38 m² | 1 Cama King o 2 Camas Dobles</p>
                                </div>
                                <div class="detalle-footer">
                                    <p class="star">
                                        <fa-icon class="icon" [icon]="faStar"></fa-icon>2.5 <small>(2 reseñas)</small>
                                    </p>
                                    <p class="price">₡76,741<small>/noche</small></p>
                                </div>

                                <!-- <input routerLink="/room" routerLinkActive="active" type="button" class="btn" value="Ver detalles">
                -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Card Start -->
            <div class="card">
                <div id="listImg" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="../../../assets/imagen/habitaciones/ha1.jpeg" alt="">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="../../../assets/imagen/habitaciones/ha2.jpg" alt="">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="../../../assets/imagen/habitaciones/ha3.jpeg" alt="">
                        </div>
                        <a class="carousel-control-prev" href="#listImg" role="button" data-bs-slide="prev">

                            <fa-icon class="direction-icon" [icon]="faCaretSquareLeft"></fa-icon>
                        </a>
                        <a class="carousel-control-next" href="#listImg" role="button" data-bs-slide="next">

                            <fa-icon class="direction-icon" [icon]="faCaretSquareRight"></fa-icon>
                        </a>
                    </div>
                </div>
                <div class="card-body float-end">
                    <div class="detalle">
                        <div class="detalle-header">
                            <p class="title">Ubicacion del hotel</p>
                            <p class="description">(acronimo) - Nombre del hotel</p>
                        </div>
                        <p class="badge bg-danger text-wrap">Amenidades</p>

                        <div class="detalle-body">
                            <ul class="list-detalle-room">
                                <li class="badge bg-primary text-wrap">
                                    <fa-icon [icon]="faWifi"></fa-icon>
                                    Wi-Fi</li>
                                <li class="badge bg-primary text-wrap">Tv con cable</li>
                                <li class="badge bg-primary text-wrap">Escritorio</li>
                                <li class="badge bg-primary text-wrap">Armario</li>
                                <li class="badge bg-primary text-wrap">Baño</li>
                                <li class="badge bg-primary text-wrap">Wi-Fi</li>
                                <li class="badge bg-primary text-wrap">Tv con cable dd f</li>
                                <li class="badge bg-primary text-wrap">Escritorio</li>
                                <li class="badge bg-primary text-wrap">Armario</li>
                                <li class="badge bg-primary text-wrap">Baño</li>
                            </ul>
                            <p class="fw-bold">Máx. 4 personas | 38 m² | 1 Cama King o 2 Camas Dobles</p>
                        </div>
                        <div class="detalle-footer">
                            <p class="star">
                                <fa-icon class="icon" [icon]="faStar"></fa-icon>2.5 <small>(2 reseñas)</small>
                            </p>
                            <p class="price">₡76,741<small>/noche</small></p>
                        </div>

                        <!-- <input routerLink="/room" routerLinkActive="active" type="button" class="btn" value="Ver detalles">
        -->
                    </div>
                </div>


                <button type="button" class="btn btn-room" routerLink="/rooms/detail" routerLinkActive="active">
                   Ver habitación
                </button>
            </div>
            <!-- End of card -->












            <!-- Card Start -->
            <div class="card">
                <div id="listImg" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="../../../assets/imagen/habitaciones/ha1.jpeg" alt="">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="../../../assets/imagen/habitaciones/ha2.jpg" alt="">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="../../../assets/imagen/habitaciones/ha3.jpeg" alt="">
                        </div>
                        <a class="carousel-control-prev" href="#listImg" role="button" data-bs-slide="prev">

                            <fa-icon class="direction-icon" [icon]="faCaretSquareLeft"></fa-icon>
                        </a>
                        <a class="carousel-control-next" href="#listImg" role="button" data-bs-slide="next">

                            <fa-icon class="direction-icon" [icon]="faCaretSquareRight"></fa-icon>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="detalle">
                        <div class="detalle-header">
                            <p class="title">Ubicacion del hotel</p>
                            <p class="description">(acronimo) - Nombre del hotel</p>
                        </div>
                        <p class="badge bg-danger text-wrap">Amenidades</p>

                        <div class="detalle-body">
                            <ul class="list-detalle-room">
                                <li class="badge bg-primary text-wrap">
                                    <fa-icon [icon]="faWifi"></fa-icon>
                                    Wi-Fi</li>
                                <li class="badge bg-primary text-wrap">Tv con cable</li>
                                <li class="badge bg-primary text-wrap">Escritorio</li>
                                <li class="badge bg-primary text-wrap">Armario</li>
                                <li class="badge bg-primary text-wrap">Baño</li>
                                <li class="badge bg-primary text-wrap">Wi-Fi</li>
                                <li class="badge bg-primary text-wrap">Tv con cable dd f</li>
                                <li class="badge bg-primary text-wrap">Escritorio</li>
                                <li class="badge bg-primary text-wrap">Armario</li>
                                <li class="badge bg-primary text-wrap">Baño</li>
                            </ul>
                            <p class="fw-bold">Máx. 4 personas | 38 m² | 1 Cama King o 2 Camas Dobles</p>
                        </div>
                        <div class="detalle-footer">
                            <p class="star">
                                <fa-icon class="icon" [icon]="faStar"></fa-icon>2.5 <small>(2 reseñas)</small>
                            </p>
                            <p class="price">₡76,741<small>/noche</small></p>
                        </div>

                        <!-- <input routerLink="/room" routerLinkActive="active" type="button" class="btn" value="Ver detalles">
        -->
                    </div>
                </div>
            </div>
            <!-- End of card -->
            <!-- Card Start -->
            <div class="card">
                <div id="listImg" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="../../../assets/imagen/habitaciones/ha1.jpeg" alt="">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="../../../assets/imagen/habitaciones/ha2.jpg" alt="">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="../../../assets/imagen/habitaciones/ha3.jpeg" alt="">
                        </div>
                        <a class="carousel-control-prev" href="#listImg" role="button" data-bs-slide="prev">

                            <fa-icon class="direction-icon" [icon]="faCaretSquareLeft"></fa-icon>
                        </a>
                        <a class="carousel-control-next" href="#listImg" role="button" data-bs-slide="next">

                            <fa-icon class="direction-icon" [icon]="faCaretSquareRight"></fa-icon>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="detalle">
                        <div class="detalle-header">
                            <p class="title">Ubicacion del hotel</p>
                            <p class="description">(acronimo) - Nombre del hotel</p>
                        </div>
                        <p class="badge bg-danger text-wrap">Amenidades</p>

                        <div class="detalle-body">
                            <ul class="list-detalle-room">
                                <li class="badge bg-primary text-wrap">
                                    <fa-icon [icon]="faWifi"></fa-icon>
                                    Wi-Fi</li>
                                <li class="badge bg-primary text-wrap">Tv con cable</li>
                                <li class="badge bg-primary text-wrap">Escritorio</li>
                                <li class="badge bg-primary text-wrap">Armario</li>
                                <li class="badge bg-primary text-wrap">Baño</li>
                                <li class="badge bg-primary text-wrap">Wi-Fi</li>
                                <li class="badge bg-primary text-wrap">Tv con cable dd f</li>
                                <li class="badge bg-primary text-wrap">Escritorio</li>
                                <li class="badge bg-primary text-wrap">Armario</li>
                                <li class="badge bg-primary text-wrap">Baño</li>
                            </ul>
                            <p class="fw-bold">Máx. 4 personas | 38 m² | 1 Cama King o 2 Camas Dobles</p>
                        </div>
                        <div class="detalle-footer">
                            <p class="star">
                                <fa-icon class="icon" [icon]="faStar"></fa-icon>2.5 <small>(2 reseñas)</small>
                            </p>
                            <p class="price">₡76,741<small>/noche</small></p>
                        </div>

                        <!-- <input routerLink="/room" routerLinkActive="active" type="button" class="btn" value="Ver detalles">
        -->
                    </div>
                </div>
            </div>
            <!-- End of card -->
            <!-- Card Start -->
            <div class="card">
                <div id="listImg" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="../../../assets/imagen/habitaciones/ha1.jpeg" alt="">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="../../../assets/imagen/habitaciones/ha2.jpg" alt="">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="../../../assets/imagen/habitaciones/ha3.jpeg" alt="">
                        </div>
                        <a class="carousel-control-prev" href="#listImg" role="button" data-bs-slide="prev">

                            <fa-icon class="direction-icon" [icon]="faCaretSquareLeft"></fa-icon>
                        </a>
                        <a class="carousel-control-next" href="#listImg" role="button" data-bs-slide="next">

                            <fa-icon class="direction-icon" [icon]="faCaretSquareRight"></fa-icon>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="detalle">
                        <div class="detalle-header">
                            <p class="title">Ubicacion del hotel</p>
                            <p class="description">(acronimo) - Nombre del hotel</p>
                        </div>
                        <p class="badge bg-danger text-wrap">Amenidades</p>

                        <div class="detalle-body">
                            <ul class="list-detalle-room">
                                <li class="badge bg-primary text-wrap">
                                    <fa-icon [icon]="faWifi"></fa-icon>
                                    Wi-Fi</li>
                                <li class="badge bg-primary text-wrap">Tv con cable</li>
                                <li class="badge bg-primary text-wrap">Escritorio</li>
                                <li class="badge bg-primary text-wrap">Armario</li>
                                <li class="badge bg-primary text-wrap">Baño</li>
                                <li class="badge bg-primary text-wrap">Wi-Fi</li>
                                <li class="badge bg-primary text-wrap">Tv con cable dd f</li>
                                <li class="badge bg-primary text-wrap">Escritorio</li>
                                <li class="badge bg-primary text-wrap">Armario</li>
                                <li class="badge bg-primary text-wrap">Baño</li>
                            </ul>
                            <p class="fw-bold">Máx. 4 personas | 38 m² | 1 Cama King o 2 Camas Dobles</p>
                        </div>
                        <div class="detalle-footer">
                            <p class="star">
                                <fa-icon class="icon" [icon]="faStar"></fa-icon>2.5 <small>(2 reseñas)</small>
                            </p>
                            <p class="price">₡76,741<small>/noche</small></p>
                        </div>

                        <!-- <input routerLink="/room" routerLinkActive="active" type="button" class="btn" value="Ver detalles">
        -->
                    </div>
                </div>
            </div>
            <!-- End of card -->

            <div class="banner">
                <img src="../../../assets/imagen/banner/banner.png" class="img-fluid" alt="img">
            </div>
        </div>
    </div>
</div>

<app-mobile-filter></app-mobile-filter>

<app-footer></app-footer>