.rooms-list {
    margin-top: 3rem;
}

.listado {
    margin-bottom: 4rem;
}

h2,
small {
    display: inline-block;
    margin-right: 2rem;
}

h3 {
    margin-bottom: 1rem;
}

.btn-listado {
    margin: 0 auto !important;
}

@media (max-width: 767px) {
    .rooms-list {
        padding: 0 !important;
    }
    .header-list,
    h3 {
        padding: 0 0 0 2rem !important;
    }
    .carousel {
        width: 100%;
        padding: 0 0 0 1rem !important;
    }
}

@media (max-width: 768px) {
    .rooms-list {
        padding: 0 2rem;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .rooms-list {
        padding: 0 4rem;
    }
}

@media (min-width: 1201px) {
    .rooms-list {
        padding: 0 6rem;
    }
}