.navbar {
    margin: 0 8rem;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    font-weight: 600;
    /*border-bottom: 1px solid rgb(128, 128, 128);*/
    background-color: var(--color_White);
}

.nav-item {
    color: black;
    list-style: none;
}

.nav-link {
    font-size: 0.8rem;
    color: black;
    transform: none;
}

.navbar-toggler-icon,
.navbar-toggler {
    color: black !important;
}

@media (min-width: 768px) and (max-width: 1200px) {
    nav {
        margin: 0 4rem !important;
    }
}