nav {
    margin: 0 8rem;
    font-weight: bold;
    background-color: var(--color_White);
}

.nav-item {
    color: black;
    list-style: none;
}

.nav-link {
    color: black;
    transform: none;
}

.navbar-toggler-icon,
.navbar-toggler {
    color: black !important;
}