header,
nav {
    margin: 0;
    padding: 0;
}

.mobile-Banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.config {
    padding: 1rem;
    font-size: 1rem;
    padding-right: 1.5rem;
    background-color: var( --color_White);
}

.config a {
    text-decoration: none;
    color: var( --color_link);
}

.mobile {
    position: fixed;
    line-height: 0.6rem;
    width: 100%;
    bottom: 0;
    z-index: 999999;
    padding-bottom: 0.2rem;
}

nav ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
    list-style: none;
    overflow: hidden;
}

nav ul li {
    font-family: Arial, sans-serif;
    padding: 0.5rem;
}

.mobile-icon-list {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}

small {
    font-size: .8rem;
}

.col-6 {
    position: relative;
    width: 50%;
    float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.btn-desktop-socio {
    display: inline-block;
    color: var( --color_black);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var( --color_White);
    font-weight: 600;
    border: 1px solid var( --color_black);
    padding: .375rem .75rem;
    font-size: 0.8rem;
    line-height: 1.5;
    border-radius: 50px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.item-bars {
    font-size: 0.8rem;
    margin-right: 0.6rem;
}

a fa-icon {
    text-decoration: none;
    color: var( --color_link);
}

.bb {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.8rem;
    border: 1px solid var( --color_black);
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Helvetica', sans-serif;
    border-radius: 50px;
}


/*@media*/

@media (max-width: 768px) {
    /* Estos estilos solo se aplicarán hasta el tamaño indicado */
    nav ul li a {
        color: var( --color_link);
    }
    nav ul li:hover {
        background: #7688d8;
    }
    .mobile {
        background-color: var( --color_White);
    }
    .desktop {
        display: none;
    }
    .card {
        width: 8rem;
        height: auto;
        position: absolute;
        top: 2.6rem;
        left: 60%;
    }
}


/*tablet*/

@media (min-width: 768px) and (max-width: 1200px) {
    /* Solo se aplicarán entre los tamaños indicados */
    .mobile-Banner,
    .mobile {
        display: none;
    }
    .desktop {
        width: 100%;
        display: inline-block;
        font-size: 1.5rem;
    }
    .desktop-box {
        display: flex;
        padding: 0.4rem;
        margin: 0 4rem;
        justify-content: space-between;
        list-style: none;
        overflow: hidden;
    }
    .logo {
        margin-right: 3.5rem;
    }
    .card {
        width: 10rem;
        height: auto;
        position: absolute;
        top: 4rem;
        left: 75%;
    }
}


/*desktop*/

@media (min-width: 1200px) {
    /* Solo se aplicarán entre los tamaños indicados */
    .mobile-Banner,
    .mobile {
        display: none;
    }
    .desktop {
        font-size: 1.5rem;
    }
    .desktop-box {
        padding: .4rem;
        display: flex;
        margin: 0 4rem;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        list-style: none;
        overflow: hidden;
    }
    .icon {
        font-size: 1.8rem;
    }
    .logo {
        position: relative;
        float: left;
    }
    .header-desktop-item .item {
        font-size: 1.6rem;
    }
    .card {
        width: 10rem;
        height: auto;
        position: absolute;
        top: 4rem;
        left: 80%;
    }
}