<header class="header">
    <a class="logo" routerLink="/rooms/home">WELCOME</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
        <li><a routerLink="/info/about" class="link link-theme link-arrow">Sobre nosotros</a></li>
        <li><a routerLink="/info/help" class="link link-theme link-arrow">Centro de ayuda</a></li>
        <li><a href="#four" class="link link-theme link-arrow">Opciones de cancelacion</a></li>
        <li><a href="#four" class="link link-theme link-arrow">Hospedaje</a></li>
        <li><a href="#four" class="link link-theme link-arrow">Idioma</a></li>

    </ul>
</header>