<!-- search ********************** -->
<div class="desktop">
    <div class="search">
        <div class="banner">
            <h1>¿Qué vas a hacer este <small class="aa">finde?</small></h1>
        </div>
        <nav>
            <ul>
                <li class="submenu item-address color ocultar">
                    <div class="form-floating">
                        <div class="form-control address_padding" id="floatingInputValue">
                            <p><i class="flaticon-placeholder mr-2"></i> buscar</p>
                        </div>
                        <label class="address_padding" for="floatingInputValue">label</label>
                    </div>
                    <ul class="megamenu address">
                        <ul>
                            <li><a href="#">Interne Festplatten</a></li>
                            <li><a href="#">Externe Festplatten</a></li>
                            <li><a href="#">SSD (Solid State Drive)</a></li>
                        </ul>
                    </ul>
                </li>
                <li class="submenu item-star color ocultar">
                    <div class="form-floating">
                        <div class="form-control fech_padding" id="floatingInputValue">
                            <p><i class="flaticon-calendar mr-2"></i> Fechas</p>
                        </div>
                        <label class="fech_padding" for="floatingInputValue">Llegada</label>
                    </div>
                    <ul class="megamenu date">
                        <ul>
                            <li><a href="#">Interne Festplatten</a></li>
                            <li><a href="#">Externe Festplatten</a></li>
                            <li><a href="#">SSD (Solid State Drive)</a></li>
                        </ul>
                    </ul>
                </li>
                <li class="submenu item-star color ocultar">
                    <div class="form-floating">
                        <div class="form-control fech_padding" id="floatingInputValue">
                            <p><i class="flaticon-calendar mr-2"></i> Fechas</p>
                        </div>
                        <label class="fech_padding" for="floatingInputValue">Salida</label>
                    </div>
                    <ul class="megamenu date">
                        <ul>
                            <li><a href="#">Interne Festplatten</a></li>
                            <li><a href="#">Externe Festplatten</a></li>
                            <li><a href="#">SSD (Solid State Drive)</a></li>
                        </ul>
                    </ul>
                </li>
                <li class="submenu item-people color ocultar">
                    <div class="form-floating">
                        <div class="form-control group_padding" id="floatingInputValue">
                            <p><i class="flaticon-group ml-4"></i> 2</p>
                            <p><i class="flaticon-bed ml-4"></i> 1</p>
                        </div>
                        <label class="group_padding" for="floatingInputValue">Personas</label>
                    </div>
                    <ul class="megamenu group-peolpe">
                        <ul>
                            <li><a>Interne Festplatten</a></li>
                            <li><a>Externe Festplatten</a></li>
                            <li><a>SSD (Solid State Drive)</a></li>
                        </ul>
                    </ul>
                </li>
                <div class="boton ocultar">
                    <button class="btn-search" type="button" id="button-addon2"><i class="flaticon-loupe mr-2"></i></button>
                </div>

                <li class="item-address-mobile mobile color">
                    <div class="form-floating">
                        <div class="form-control address_padding" id="floatingInputValue">
                            <p><i class="flaticon-placeholder mr-2"></i> buscar</p>
                        </div>
                    </div>
                </li>
                <div class="mobile btn-mobile">
                    <button class="btn-mobile" type="button" id="button-addon2"><i class="flaticon-settings"></i></button>
                </div>
            </ul>
        </nav>

    </div>

</div>

<!-- end search ********************** -->