/*General*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');

/* #region nav */

nav {
    position: absolute;
    font-size: 1rem;
    box-shadow: 0 0.5rem 1rem #CDCFD0 !important;
    margin: 0 auto 2rem auto;
    background-color: #fff;
}

nav>ul {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0;
}

nav a {
    display: block;
    color: #000;
    text-decoration: none;
}

nav ul li {
    color: #000;
    list-style: none;
    transition: 0.5s;
}

nav>ul>li>a {
    padding: 15px 25px;
}

nav ul>li.submenu>a:after {
    position: relative;
    float: right;
    content: '';
    margin-left: 10px;
    margin-top: 8px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid crimson;
    border-bottom: 5px solid transparent;
}

nav ul>li.submenu:hover>a:after {
    margin-top: 2px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid #fff;
}

nav>ul>li:hover {
    background: #EAF2FC;
}


/* second stage (the mega-menu) */

.date {
    left: 15rem;
}

.group-peolpe {
    left: 40rem;
}

.address {
    left: 0;
}

nav ul.megamenu {
    position: absolute;
    margin-top: .6rem;
    display: flex;
    flex-wrap: wrap;
    top: -9999px;
    padding: 1rem;
    background: #fff;
    text-align: left;
    border-top: 5px solid rgb(238, 71, 104);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

nav ul li:hover ul.megamenu {
    top: 100%;
}


/* third stage (child-menus in the mega-menu) */

nav ul.megamenu ul {
    width: 25%;
    margin-bottom: 40px;
    color: #000;
    box-shadow: none;
}

nav ul.megamenu h4 {
    margin-bottom: 15px;
    text-transform: uppercase;
}

nav ul.megamenu ul li {
    display: block;
}

nav ul.megamenu ul li a {
    margin-top: 10px;
    transition: 0.5s;
    color: #000;
}

nav ul.megamenu ul li a:hover {
    color: #4096ee;
}

.megamenu {
    border-radius: .6rem;
}


/* END nav */

.banner {
    height: 24rem;
    background-image: url("../../../../assets/imagen/banner/banner1.png");
}

.item:hover {
    cursor: pointer;
}

.form-floating>.form-control:focus,
.form-floating>.form-control:not(:placeholder-shown) {
    padding: 1.5rem;
}

.address_padding,
.group_padding,
.fech_padding {
    border: none;
    font-weight: bold;
    padding-top: 0.5;
    padding-left: 2rem;
}

h1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 3.4rem;
    color: #fff;
}

label {
    font-weight: bold;
}

p {
    display: inline-block;
    margin-top: 0.5rem;
}

small {
    color: crimson;
}

.form-floating {
    height: 4.2rem;
}

.form-floating {
    border: none;
    font-weight: bold;
    border-left: 1px solid #CDCFD0;
    border-radius: 0.5rem;
}

.color :hover {
    background-color: #EAF2FC;
}

.item {
    display: inline-block;
}


/********************** lupa *****************************/

.boton {
    position: absolute;
    right: 1rem;
    bottom: .7rem;
    margin: auto !important;
}

.btn-search {
    font-size: 30px;
    color: #fff;
    border-radius: 50%;
    background-color: crimson;
    border: crimson;
    margin-left: .5rem;
}

.flaticon-loupe {
    font-size: 20px;
    padding: .5rem;
    font-weight: bold !important;
}


/***************************************************/

@media (min-width: 320px) and (max-width: 767px) {
    .ocultar {
        display: none;
    }
    /***** search mobile ****************************/
    .form-control {
        padding: 0 !important;
        margin: 0 !important;
    }
    .mobile {
        cursor: pointer;
    }
    .btn-mobile {
        margin: auto;
    }
    .btn-mobile {
        background-color: transparent;
        border: none;
    }
    .banner h1 {
        font-size: 2.4rem;
        padding: 6rem 3rem;
    }
    nav {
        width: 100% !important;
        top: 20rem;
        left: 0;
    }
    .item-address-mobile {
        width: 80%;
        padding: 0 auto !important;
    }
    .address_padding {
        padding: 1rem !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /*****search********/
    .banner h1 {
        padding: 4rem;
    }
    .mobile {
        display: none;
    }
    nav {
        width: 75%!important;
        top: 24rem;
        left: 6rem;
    }
    .item-star,
    .item-end {
        width: 9rem;
    }
    .item-address {
        width: 13rem;
    }
    .item-people {
        width: 8rem;
    }
    .group_padding,
    .fech_padding {
        padding-left: 1rem;
    }
    .date {
        left: 10rem;
    }
    .group-peolpe {
        left: 22rem;
    }
    /*****end search********/
}

@media (min-width: 992px) and (max-width: 1024px) {
    /*****search********/
    .banner h1 {
        padding: 8rem 4rem;
    }
    .mobile {
        display: none;
    }
    nav {
        width: 72%!important;
        top: 24rem;
        left: 9rem;
    }
    .item-star,
    .item-end {
        width: 11rem;
    }
    .item-address {
        width: 14rem;
    }
    .item-people {
        width: 9rem;
    }
    .form-floating div,
    .form-floating label {
        display: inline-block;
    }
    /*****end search********/
}

@media (min-width: 1025px) and (max-width: 1280px) {
    /*****search********/
    .banner h1 {
        padding: 8rem 4rem;
    }
    .mobile {
        display: none;
    }
    nav {
        width: 70% !important;
        top: 24rem;
        left: 11rem;
    }
    .item-star,
    .item-end {
        width: 12rem;
    }
    .item-address {
        width: 16.5rem;
    }
    .item-people {
        width: 12rem;
    }
    /*****end search********/
}

@media (min-width: 1281px) {
    .banner h1 {
        padding: 8rem;
    }
    .mobile {
        display: none;
    }
    nav {
        width: 52rem !important;
        top: 24rem;
        left: 21rem;
        margin: 0 auto;
    }
    .item-star,
    .item-end {
        width: 11rem;
    }
    .item-address {
        width: 18rem;
        border-radius: 2.4rem;
    }
    .item-people {
        width: 12rem;
        border-radius: 2.4rem;
    }
}