<!-- Modal -->
<div>
    <div class="modal fade" id="modalSearch" tabindex="-1" role="dialog" aria-labelledby="modalSearchTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Busqueda avanzada</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-select">
                        <select>
                             <option value="0">Ubicacion</option>
                             <option value="1">San Jose Centro</option>
                             <option value="2">San Jose</option>
                             <option value="3">Alajuela</option>
                             <option value="4">Heredia</option>
                             <option value="5">Nosara</option>
                             <option value="6">Puntarenas</option>
                     </select>
                    </div>
                    <input type="datetime-local" class="inputDate">
                    <input type="datetime-local" class="inputDate">
                    <div class="filtro_camaHabitacion">
                        <p class="filtro-camaHabitacion-title"> Habitaciones y Camas</p>
                        <div class="d-flex justify-content-between space-item">
                            <p>Camas</p>
                            <div>
                                <a (click)="delectCama()">
                                    <fa-icon [icon]="faMinusSquare" class="aling-icon"></fa-icon>
                                </a>
                                <p class="aling-icon">{{ numeroCamas }}</p>
                                <a (click)="addCama()">
                                    <fa-icon [icon]="faPlusSquare" class="aling-icon"></fa-icon>
                                </a>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between space-item">
                            <p>Habitación</p>
                            <div>
                                <a (click)="delectHabitacion()">
                                    <fa-icon [icon]="faMinusSquare" class="aling-icon"></fa-icon>
                                </a>
                                <p class="aling-icon">{{ numeroHabitaciones }}</p>
                                <a (click)="addHabitacion()">
                                    <fa-icon [icon]="faPlusSquare" class="aling-icon"></fa-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="filtro_huesped">
                        <p class="filtro-huesped-title">Quiene te acompañara</p>
                        <div class="d-flex justify-content-between space-item">
                            <div class="lineal">
                                <p>Adultos</p>
                                <small>13 años o más</small>
                            </div>
                            <div>
                                <a (click)="delectAdulto()">
                                    <fa-icon [icon]="faMinusSquare" class="aling-icon"></fa-icon>
                                </a>
                                <p class="aling-icon">{{ adultos }}</p>
                                <a (click)="addAdulto()">
                                    <fa-icon [icon]="faPlusSquare" class="aling-icon"></fa-icon>
                                </a>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between space-item">
                            <div class="lineal">
                                <p>Niños</p>
                                <small>De 2 a 12 años</small>
                            </div>
                            <div>
                                <a (click)="delectNino()">
                                    <fa-icon [icon]="faMinusSquare" class="aling-icon"></fa-icon>
                                </a>
                                <p class="aling-icon">{{ ninos }}</p>
                                <a (click)="addNino()">
                                    <fa-icon [icon]="faPlusSquare" class="aling-icon"></fa-icon>
                                </a>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between space-item">
                            <div class="lineal">
                                <p>Bebes</p>
                                <small>Menos de 2 años</small>
                            </div>
                            <div>
                                <a (click)="delectBebe()">
                                    <fa-icon [icon]="faMinusSquare" class="aling-icon"></fa-icon>
                                </a>
                                <p class="aling-icon">{{ bebes }}</p>
                                <a (click)="addBebe()">
                                    <fa-icon [icon]="faPlusSquare" class="aling-icon"></fa-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="boton" routerLink="/rooms/list" routerLinkActive="active" data-bs-dismiss="modal">Filtrar</button>

            </div>
        </div>
    </div>
</div>
<!-- End Modal -->

<div class="search">
    <div class="mobile">
        <div class="mobile-search-box">
            <input type="text" class="input_search" data-bs-toggle="modal" data-bs-target="#modalSearch" placeholder="¿Qué estas buscando?">
        </div>

        <div class="mobile-text-box">
            <h1>HOPE</h1>
            <p>Habitaciones confortables, creamos experiencias pensadas para tí</p>
            <div>
                <button class="btn-expore">Explorar ahora</button>
            </div>
        </div>
    </div>
    <div class="desktop">
        <h1>Encuentra habitaciones comodas y seguras a un buen precio</h1>
        <div class="center">
            <div class="search-box">
                <div class="filter-item">
                    <select>
                    <option value="0">Ubicacion</option>
                    <option value="1">San Jose Centro</option>
                    <option value="2">San Jose</option>
                    <option value="3">Alajuela</option>
                    <option value="4">Heredia</option>
                    <option value="5">Nosara</option>
                    <option value="6">Puntarenas</option>
                  </select>
                </div>
                <div class="filter-item">
                    <input type="datetime-local" class="inputDate">
                </div>
                <div class="filter-item">
                    <input type="datetime-local" class="inputDate">
                </div>
                <div class="filter-item">
                    <select>
                    <option value="0">Húestedes</option>
                    <option value="1">1 huesped 1 habitacion</option>
                    <option value="2">2 huesped 1 habitacion</option>
                    <option value="3">3 huesped 1 habitacion</option>
                    <option value="1">2 huesped 2 habitacion</option>
                    <option value="2">3 huesped 2 habitacion</option>
                    <option value="3">3 huesped 1 habitacion</option>
                  </select>
                </div>
                <input type="button" class="btn-search ml-2" value="Buscar" routerLink="/rooms/list" routerLinkActive="active">
            </div>
        </div>
        <div class="popular">
            <div class="popular-box">
                <div>
                    <a href="">
                        <small>Reservar en la noche</small>
                    </a>
                </div>
            </div>
            <div class="popular-box">
                <div>
                    <a href="">
                        <small>Todos los servicios</small>
                    </a>
                </div>
            </div>
            <div class="popular-box">
                <div>
                    <a href="">
                        <small>Hotels in Museo Mural Diego Rivera</small>
                    </a>
                </div>
            </div>
            <div class="popular-box">
                <div>
                    <a href="">
                        <small>Hotels in Museo Mural Diego Rivera</small>
                    </a>
                </div>
            </div>
            <div class="popular-box">
                <div>
                    <a href="">
                        <small>Hotels in Museo Mural Diego Rivera</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="nav-search" id="nav-search">
    <!-- Desktop -->
    <div class="nav-search-desktop" id="nav-search-desktop">
        <div class="nav-search-item">
            <select>
                 <option value="0">Ubicacion</option>
                 <option value="1">San Jose Centro</option>
                 <option value="2">San Jose</option>
                 <option value="3">Alajuela</option>
                 <option value="4">Heredia</option>
                 <option value="5">Nosara</option>
                 <option value="6">Puntarenas</option>
         </select>
        </div>
        <div class="nav-search-item">
            <input type="datetime-local" class="inputDate">
        </div>
        <div class="nav-search-item">
            <input type="datetime-local" class="inputDate">
        </div>
        <div class="nav-search-item">
            <select>
        <option value="0">Húestedes</option>
        <option value="1">1 huesped 1 habitacion</option>
        <option value="2">2 huesped 1 habitacion</option>
        <option value="3">3 huesped 1 habitacion</option>
        <option value="1">2 huesped 2 habitacion</option>
        <option value="2">3 huesped 2 habitacion</option>
        <option value="3">3 huesped 1 habitacion</option>
      </select>
        </div>
        <input type="button" class="btn-search ml-2" value="Buscar" routerLink="/list" routerLinkActive="active">
    </div>
    <!-- END Desktop -->

    <!-- Mobile-->
    <div class="nav-search-mobile" id="nav-search-mobile">
        <div class="mobile-search-box">
            <input type="text" class="input_search" data-bs-toggle="modal" data-bs-target="#modalSearch" placeholder="¿Qué estas buscando?">
        </div>
    </div>
    <!-- END Mobile -->

</div>