<app-nav-info></app-nav-info>

<div class="banner">
    <img src="assets/imagen/banner/us.png" class="img-fluid" alt="">
</div>
<div class="about">
    <div>
        <h2>Sobre nosotros</h2>
        <p>Airbnb nació en 2007, cuando dos anfitriones alojaron a tres huéspedes en su piso de San Francisco. Ha crecido mucho desde entonces y, actualmente, cuenta con 4 millones de anfitriones que han hospedado a más de 800 millones de viajeros en casi
            todos los países del mundo. Todos los días, los anfitriones ofrecen a diario estancias fuera de lo común y experiencias únicas que permiten a los viajeros descubrir el mundo de una manera más auténtica y consciente.</p>
    </div>
    <div>
        <h5>Bienestar social</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam repellendus at veritatis quos nostrum fugiat iure quas excepturi sunt provident incidunt unde quia minima, inventore minus modi laudantium ipsum exercitationem.</p>
    </div>
    <div class="fundadores-box">
        <h2>Fundadores</h2>
        <div class="row">
            <div class="col-sm-4 col-md-4 fundadores-item">
                <img src="assets/imagen/fundadores/fu.jpg" class="img-fluid" alt="">
                <p class="img-text">Nombre</p>
                <p>Co-fundador</p>
            </div>
            <div class="col-sm-4 col-md-4 fundadores-item">
                <img src="assets/imagen/fundadores/fu.jpg" class="img-fluid" alt="">
                <p class="img-text">Nombre</p>
                <p>Co-fundador y director ejeccutico</p>
            </div>
            <div class="col-sm-4 col-md-4 fundadores-item">
                <img src="assets/imagen/fundadores/fu.jpg" class="img-fluid" alt="">
                <p class="img-text">Nombre</p>
                <p>Cofundador, director de estrategia y presidente</p>
            </div>
        </div>
    </div>
</div>