<div class="card-Fovorite">
    <h2 class="mb-4">Favoritos</h2>
    <div class="row">

        <div class=" col-sm-3 col-md-4 col-lg-3">
            <div class="card-sl">
                <div class="card-image">
                    <img src="../../../assets/imagen/habitaciones/ha1.jpeg" />
                </div>

                <a class="card-action">
                    <fa-icon [icon]="faHeart"></fa-icon>
                </a>

                <div class="card-heading">
                    Audi Q8
                </div>
                <div class="card-text">
                    Audi Q8 is a full-size luxury crossover SUV coupé made by Audi that was launched in 2018.
                </div>
                <div class="card-text">
                    $67,400
                </div>
                <a href="#" class="card-button"> Quitar</a>
            </div>
        </div>
        <div class=" col-sm-3 col-md-4 col-lg-3">
            <div class="card-sl">
                <div class="card-image">
                    <img src="../../../assets/imagen/habitaciones/ha1.jpeg" />
                </div>

                <a class="card-action">
                    <fa-icon [icon]="faHeart"></fa-icon>
                </a>

                <div class="card-heading">
                    Audi Q8
                </div>
                <div class="card-text">
                    Audi Q8 is a full-size luxury crossover SUV coupé made by Audi that was launched in 2018.
                </div>
                <div class="card-text">
                    $67,400
                </div>
                <a href="#" class="card-button"> Quitar</a>
            </div>
        </div>
        <div class=" col-sm-3 col-md-4 col-lg-3">
            <div class="card-sl">
                <div class="card-image">
                    <img src="../../../assets/imagen/habitaciones/ha1.jpeg" />
                </div>

                <a class="card-action">
                    <fa-icon [icon]="faHeart"></fa-icon>
                </a>

                <div class="card-heading">
                    Audi Q8
                </div>
                <div class="card-text">
                    Audi Q8 is a full-size luxury crossover SUV coupé made by Audi that was launched in 2018.
                </div>
                <div class="card-text">
                    $67,400
                </div>
                <a href="#" class="card-button"> Quitar</a>
            </div>
        </div>
        <div class=" col-sm-3 col-md-4 col-lg-3">
            <div class="card-sl">
                <div class="card-image">
                    <img src="../../../assets/imagen/habitaciones/ha1.jpeg" />
                </div>

                <a class="card-action">
                    <fa-icon [icon]="faHeart"></fa-icon>
                </a>

                <div class="card-heading">
                    Audi Q8
                </div>
                <div class="card-text">
                    Audi Q8 is a full-size luxury crossover SUV coupé made by Audi that was launched in 2018.
                </div>
                <div class="card-text">
                    $67,400
                </div>
                <a href="#" class="card-button"> Quitar</a>
            </div>
        </div>
        <div class=" col-sm-3 col-md-4 col-lg-3">
            <div class="card-sl">
                <div class="card-image">
                    <img src="../../../assets/imagen/habitaciones/ha1.jpeg" />
                </div>

                <a class="card-action">
                    <fa-icon [icon]="faHeart"></fa-icon>
                </a>

                <div class="card-heading">
                    Audi Q8
                </div>
                <div class="card-text">
                    Audi Q8 is a full-size luxury crossover SUV coupé made by Audi that was launched in 2018.
                </div>
                <div class="card-text">
                    $67,400
                </div>
                <a href="#" class="card-button"> Quitar</a>
            </div>
        </div>

    </div>

</div>

<app-mobile-bar></app-mobile-bar>