$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?27d0900d9400ab1fab0328b9a2914050") format("truetype"),
url("./flaticon.woff?27d0900d9400ab1fab0328b9a2914050") format("woff"),
url("./flaticon.woff2?27d0900d9400ab1fab0328b9a2914050") format("woff2"),
url("./flaticon.eot?27d0900d9400ab1fab0328b9a2914050#iefix") format("embedded-opentype"),
url("./flaticon.svg?27d0900d9400ab1fab0328b9a2914050#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "men": "\f101",
    "men-1": "\f102",
    "men-2": "\f103",
    "men-3": "\f104",
);

.flaticon-men:before {
    content: map-get($flaticon-map, "men");
}
.flaticon-men-1:before {
    content: map-get($flaticon-map, "men-1");
}
.flaticon-men-2:before {
    content: map-get($flaticon-map, "men-2");
}
.flaticon-men-3:before {
    content: map-get($flaticon-map, "men-3");
}
