<div class="footer">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3 item">
            <p class="tittle">Acerca de</p>
            <p><a routerNavigate="/info/about">Cómo funciona xxxx</a></p>
            <p> <a routerLink="/info/socios">Hazte socio</a>
                <a routerLink="/info/about">historia de xxxx</a></p>
            <p>
                <a routerLink="/info/about">Compromiso social</a></p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 item">
            <p class="tittle">Sociedad</p>
            <p><a routerLink="/info/socio" routerLinkActive="active">Hazte socio</a></p>
            <p><a routerLink="/info/socio" routerLinkActive="active">Centro de recursos</a></p>
            <p><a routerLink="/info/socio" routerLinkActive="active">Confianza y seguridad</a></p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 item">
            <p class="tittle">Politicas</p>
            <p>
                <a routerLink="/info/socios" routerLinkActive="active">Politicas de privacidad</a></p>
            <p>
                <a routerLink="/info/socios" routerLinkActive="active">Politicas de hospedaje</a></p>
            <p>
                <a routerLink="/info/socios" routerLinkActive="active">Terminos y condiciones</a></p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 item">
            <p class="tittle">Centro de información</p>
            <p>
                <a routerLink="/info/help" routerLinkActive="active">Centro de Ayuda</a></p>
            <p>
                <a routerLink="/info/help" routerLinkActive="active">Opciones de cancelación</a></p>
            <p>
                <a routerLink="/info/help" routerLinkActive="active">Tú lo hacen posible</a></p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <p class="fech">2010-2021 © Derechos reservados</p>
        </div>
        <div class="col social-icon">
            <ul class="icon-list">
                <li>
                    <a href="https://es-la.facebook.com/" target="_blank">
                        <fa-icon [icon]="iconFacebook"></fa-icon><br>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" target="_blank">
                        <fa-icon [icon]="iconInstagram"></fa-icon><br>
                    </a>
                </li>
                <li>
                    <a href="https://cr.linkedin.com/" target="_blank">
                        <fa-icon [icon]="iconLinkedin"></fa-icon><br>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/" target="_blank">
                        <fa-icon [icon]="iconYoutube"></fa-icon><br>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>